:root {
  font-family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333;
  background-color: #ddd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

input,
select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  color: #333;
}

select {
  padding: 9px;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid #888;
}

input[type='submit'] {
  background-color: teal;
  font-size: 16px;
  padding: 8px 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #008080dd;
}
