.formContainer {
  width: fit-content;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
} */

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: calc(50% - 5px);
  gap: 5px;
}

.submitWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* input,
select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  color: #333;
}

select {
  padding: 9px;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid #888;
}

input[type='submit'] {
  background-color: teal;
  font-size: 16px;
  padding: 8px 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #008080dd;
} */
